@model BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>
        Name is @Model.Name <br />
        Balance is @Model.Balance @Model.Currency <br />
        Animal type is @Model.AnimalType <br />
    </h2>
</body>
</html>