@model ListingTodos.Models.Todo
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Todos for today</h1>
    <table border="1">
        <tr>
            <td width="60">
                Number
            </td>
            <td width="200">
                Title
            </td>
            <td width="100">
                Is it done?
            </td>
            <td width="100">
                Is it urgent?
            </td>
        </tr>
        
        <tr>
            <td>
                @Model.Id
            </td>
            <td>
                @Model.Title
            </td>
            <td>
                @Model.IsDone
            </td>
            <td>
                @Model.IsUrgent
            </td>
        </tr>
    </table>
</body>
</html>