<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pokémon - Login page</title>
</head>
<body>
    <form action="/user" method="post">
        <label for="userName">User name: </label>
        <input type="text" id="userName" name="Name"/>
        <div>
            <button type="button">Login</button>
        </div>
    </form>
</body>
</html>