@model GreetSomeone.Models.GiveName
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Css/StyleSheet.css" />
</head>
<body>
    <p>Have a nice day, @Model.UserName!</p>
</body>
</html>