@model FoxClubProject.Models.Fox
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Programmers Fox Club</title>
</head>
<body>
    <ul>
        <li>
            <a href="https://teveclub.hu/">Information</a>
        </li>
    </ul>
    <img src="images/greenfox.png" />

    <div>
        This is <b>@Model.Name</b>. Currently living on <b>@Model.Food</b> and <b>@Model.Drink</b>. He knows <b>@Model.KnownTricks.Count()</b> tricks.
    </div>

    <h1>
        Known tricks
    </h1>

    @{
        if (Model.KnownTricks.Count > 0)
        {
            <ul>
                @foreach (var trick in Model.KnownTricks)
                {
                    <li>
                        @trick
                    </li>
                }

            </ul>
        }
        else
        {
           <div>
               You know no tricks, yet. Go and learn some.
           </div>        
        }
    }


</body>
</html>