<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Programmers Fox Club</title>
</head>
<body>
    <ul>
        <li>
            <a href="https://teveclub.hu/">Information</a>
        </li>
    </ul>
    <img src="images/greenfox.png" />

    <div>
        This is Mr. Fox. Currently living on pizza and lemondane. He knows 2 tricks.
    </div>

    <h1>
        Known tricks
    </h1>

    <ul>
        <li>
            write HTML
        </li>
        <li>
            code in Java
        </li>

    </ul>
</body>
</html>