@model P03BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body>
    <h1>Bank of Simba</h1>
    <div>
        @Model.Name
        @Model.Balance
        @Model.AnimalType
    </div>
</body>
</html>