@model P03BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body>
    <h1>Bank of Simba</h1>
    
        <div>
            @Model.Name <br />
            @Model.Balance @Model.Currency <br />
            @Model.AnimalType <br />
        </div>
    
</body>
</html>