body {
  margin: 30px;
  padding: 0;
  background-color: #DCD6CD;
}

form {
  box-sizing: border-box;
  background-color: #127731;
  height: 1000px;
  width: 640px;
  margin: auto;
}

.header {
  padding: 10px;
  margin: 15px 0 15px 0;
  background-color: #FFE42E;
  height: 15px;
  width: 620px;
  display: inline-block;
}

.left-column {
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: #FFE42E;
  height: 300px;
  width: 298px;
  float: left;
}

.right-column {
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: #FFE42E;
  height: 300px;
  width: 298px;
  float: right;
}

.footer {
  padding: 10px;
  margin: 15px 0 15px 0;
  background-color: #FFE42E;
  height: 200px;
  width: 620px;
  display: inline-block;
}

.left-column > div {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 70px;
}

.left-middle div:first-child {
  border: 2px solid black;
  height: 40px;
  width: 145px;
  float: left;
}

.left-middle div:last-child {
  border: 2px solid black;
  height: 40px;
  width: 145px;
  float: left;
}
